.container {
  margin-top: 0.4rem;
  padding: 5px 0;
  display: grid;
  border-radius: 4px;
  border-bottom: none;
  color: var(--pal-text-primary);
  background-color: var(--pal-grey-50);
}

.darker {
  background-color: var(--pal-grey-300);
}

.last {
  border-radius: 4px 4px 25px 25px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  width: 100%;
  padding-left: 1rem;
  border-left: 1px solid var(--pal-grey-400);
  height: 40px;
}

.rank {
  grid-area: rank;
  padding: 0;
  border: none;
  justify-content: center;
}

.name {
  grid-area: name;
}

.details {
  grid-area: details;
}

.points {
  grid-area: points;
}